@charset "UTF-8";
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/MuseoSansMedium.woff") format("woff");
    src: url("../fonts/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/MuseoSansBold.woff") format("woff");
    src: url("../fonts/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/MuseoSansRegular.woff") format("woff");
    src: url("../fonts/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
}

body {
    margin: 0;
}

body * {
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif;
}

#nav {
    background-color: #ffffff;
    transition: all 0.3s ease;
    box-shadow: none;
    position: fixed;
    z-index: 900;
    height: 40px;
    width: 100%;
    top: -70px;
    opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

#nav.visible {
    opacity: 0.965;
    top: 0;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
}

#nav.visible:hover {
    opacity: 1;
}

#nav .logo {
    background-image: url(../img/logo_black.png);
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 133px;
    margin-left: 10px;
    margin-top: 10px;
}

#nav .menu {
    margin-right: 20px;
    float: right;
}

@media (max-width: 625px) {
    #nav .menu {
        display: none;
    }
}

#nav .menu .menu_item {
    display: inline-block;
    line-height: 61px;
    font-size: 14px;
}

#nav .menu .menu_item.option {
    margin-right: 20px;
}

#nav .menu .menu_item.option.phone {
    margin-left: 100px;
}

#nav .menu .menu_item.option.phone * {
    color: #222;
}

#nav .menu .menu_item.option.phone a {
    text-decoration: none;
}

#nav .menu .menu_item.option.phone a img {
    vertical-align: middle;
}

#nav .menu .menu_item.option.phone img {
    height: 20px;
    width: 20px;
}

#nav .menu .menu_item.option a {
    text-decoration: none;
}

#nav .menu .menu_item.navigate {
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif;
    margin-right: -5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#nav .menu .menu_item.navigate:hover {
    background-color: rgba(255, 193, 41, 0.69);
}

#nav .menu .menu_item.button_wrapper a {
    background-color: #ffc228;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    border-radius: 6px !important;
    padding: 5px 15px;
    padding-top: 6px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#nav .menu .menu_item.button_wrapper a:hover {
    background-color: #f5bc00;
}

#nav .menu .menu_item {
    line-height: 40px;
}

@media (max-width: 1005px) {
    #nav .menu .menu_item.navigate {
        display: none;
    }
}

#nav .menu .menu_item.option a {
    color: #8c8c8c;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
}

#nav .menu .menu_item.option a:hover {
    color: #222;
}

@media (max-width: 1244px) {
    #nav .menu .menu_item.option.phone {
        margin-left: 20px;
    }
}

#nav .menu_mobile_icon {
    margin-top: 6px;
    margin-right: 6px;
    transition: all 0.2s ease;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 1;
    display: none;
    float: right;
}

#nav .menu_mobile_icon.active:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -2px;
}

#nav .menu_mobile_icon.active:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -2px;
}

#nav .menu_mobile_icon:before {
    margin-top: -7px;
    transition: all 0.2s ease;
    position: absolute;
    margin-left: -13px;
    content: "";
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
}

#nav .menu_mobile_icon:after {
    margin-top: 3px;
    transition: all 0.2s ease;
    position: absolute;
    margin-left: -13px;
    content: "";
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
}

@media (max-width: 625px) {
    #nav .menu_mobile_icon {
        display: inline-block;
        height: 40px;
        margin-top: 1px;
    }
}

#nav .menu_mobile_icon:before, #nav .menu_mobile_icon:after {
    background-color: #222;
}

#nav * {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
}

#top_block {
    position: relative;
    height: calc(100vh - 25px);
    min-height: 555px;
}

#top_block .back_image {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-image: url(../img/backgrpund4.jpg);
}

@media (max-width: 600px) {
    #top_block .back_image {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

#top_block .header {
    position: relative;
}

#top_block .header .logo {
    background-image: url(../img/logo_white.png);
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 57px;
    width: 180px;
    margin-top: 13px;
}

#top_block .header .logo .cleaning_comp {
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0.8px;
    bottom: -9px;
    font-family: "MuseoSansRegular", Helvetica, Arial, sans-serif;
}

#top_block .header .menu {
    margin-right: 20px;
    float: right;
}

@media (max-width: 625px) {
    #top_block .header .menu {
        display: none;
    }
}

#top_block .header .menu * {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
}

#top_block .header .menu .menu_item {
    display: inline-block;
    line-height: 61px;
    font-size: 14px;
}

#top_block .header .menu .menu_item.option {
    margin-right: 20px;
}

#top_block .header .menu .menu_item.option.phone {
    margin-left: 100px;
}

#top_block .header .menu .menu_item.option.phone * {
    color: #222;
}

#top_block .header .menu .menu_item.option.phone a {
    text-decoration: none;
}

#top_block .header .menu .menu_item.option.phone a img {
    vertical-align: middle;
}

#top_block .header .menu .menu_item.option.phone img {
    height: 20px;
    width: 20px;
}

#top_block .header .menu .menu_item.option a {
    text-decoration: none;
}

#top_block .header .menu .menu_item.navigate {
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif;
    margin-right: -5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#top_block .header .menu .menu_item.navigate:hover {
    background-color: rgba(255, 193, 41, 0.69);
}

#top_block .header .menu .menu_item.button_wrapper a {
    background-color: #ffc228;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    border-radius: 6px !important;
    padding: 5px 15px;
    padding-top: 6px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#top_block .header .menu .menu_item.button_wrapper a:hover {
    background-color: #f5bc00;
}

#top_block .header .menu .menu_item.navigate {
    color: #fff;
}

@media (max-width: 874px) {
    #top_block .header .menu .menu_item.navigate {
        display: none;
    }
}

#top_block .header .menu .menu_item.navigate:hover {
    background-color: rgba(255, 193, 41, 0.48);
}

#top_block .header .menu .menu_item.option:last-of-type {
    margin-right: 0;
}

#top_block .header .menu .menu_item.option * {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#top_block .header .menu .menu_item.option a {
    color: #ffffff;
}

@media (max-width: 1120px) {
    #top_block .header .menu .menu_item.option.phone {
        margin-left: 20px;
    }
}

#top_block .header .menu .menu_item.option.phone * {
    color: #ffc228;
}

#top_block .header .menu_mobile_icon {
    margin-top: 6px;
    margin-right: 6px;
    transition: all 0.2s ease;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 1;
    display: none;
    float: right;
}

#top_block .header .menu_mobile_icon.active:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -2px;
}

#top_block .header .menu_mobile_icon.active:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -2px;
}

#top_block .header .menu_mobile_icon:before {
    margin-top: -7px;
    transition: all 0.2s ease;
    position: absolute;
    margin-left: -13px;
    content: "";
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
}

#top_block .header .menu_mobile_icon:after {
    margin-top: 3px;
    transition: all 0.2s ease;
    position: absolute;
    margin-left: -13px;
    content: "";
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
}

@media (max-width: 625px) {
    #top_block .header .menu_mobile_icon {
        display: inline-block;
    }
}

#top_block .header .menu_mobile_icon:before, #top_block .header .menu_mobile_icon:after {
    background-color: #fff;
}

#top_block .content {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    padding-top: 70px;
    padding-bottom: 40px;
}

@media (max-width: 1000px) {
    #top_block .content {
        max-width: 710px;
    }
}

@media (max-width: 735px) {
    #top_block .content {
        max-width: 510px;
        padding-top: 50px;
    }
}

@media (max-width: 567px) {
    #top_block .content {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #top_block .content {
        padding-top: 30px;
    }
}

#top_block .content .moto h2 {
    font-weight: normal;
    margin: 0;
}

#top_block .content .moto * {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    line-height: 50px;
}

@media (max-width: 1000px) {
    #top_block .content .moto * {
        font-size: 35px;
        line-height: 40px;
        display: inline-block;
    }
}

#top_block .content .moto h1 {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
}

#top_block .content .moto h2, #top_block .content .moto sup {
    font-size: 35px;
    line-height: 53px;
}

@media (max-width: 735px) {
    #top_block .content .moto h2, #top_block .content .moto sup {
        font-size: 20px;
        line-height: 23px !important;
    }
}

#top_block .content .moto sup {
    font-size: 20px;
}

@media (max-width: 735px) {
    #top_block .content .moto sup {
        font-size: 15px;
    }
}

#top_block .top_form_wrapper {
    position: absolute;
    bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

@media (max-width: 700px) {
    #top_block .top_form_wrapper {
        bottom: 33px;
    }
}

#top_block .top_form_wrapper .top_form {
    display: inline-block;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 6px;
    padding-bottom: 13px;
}

#top_block .top_form_wrapper .top_form .region {
    margin-top: 8px;
    color: #a9a9a9;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

@media (max-width: 700px) {
    #top_block .top_form_wrapper .top_form .region {
        color: #fff;
    }
}

@media (max-width: 400px) {
    #top_block .top_form_wrapper .top_form .region {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #top_block .top_form_wrapper .top_form {
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 300px;
    }
}

@media (max-width: 400px) {
    #top_block .top_form_wrapper .top_form {
        width: unset;
    }
}

#top_block .top_form_wrapper .top_form input {
    margin-right: 20px;
}

@media (max-width: 700px) {
    #top_block .top_form_wrapper .top_form input {
        border: none;
        margin-right: 0;
        margin-bottom: 5px;
        width: calc(100% - 30px);
    }
}

@media (max-width: 700px) and (max-width: 400px) {
    #top_block .top_form_wrapper .top_form input {
        width: calc(80% - 30px);
    }
}

#top_block .top_form_wrapper .top_form button {
    height: 40px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 700px) {
    #top_block .top_form_wrapper .top_form button {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #top_block .top_form_wrapper .top_form button {
        width: 80%;
    }
}

#top_block .top_pointer_wrapper {
    margin-left: -100px;
    position: absolute;
    bottom: -55px;
    height: 82px;
    width: 200px;
    z-index: 1;
    left: 50%;
    cursor: pointer;
}

#top_block .top_pointer_wrapper .top_pointer {
    display: block;
    -webkit-animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
    animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
    margin: 6px auto 0;
    position: relative;
    height: 34px;
    width: 34px;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    background: #fff;
}

#top_block .top_pointer_wrapper .top_pointer:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 9px;
    left: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none;
}

.block.order .sub_header {
    margin-top: 14px !important;
}

.block.order .note {
    margin-top: 10px;
    margin-left: auto;
    width: 560px;
    margin-right: auto;
}

@media (max-width: 569px) {
    .block.order .note {
        width: 96%;
        text-align: center;
    }
}

.block.order .order_info {
    margin-left: auto;
    width: 560px;
    margin-right: auto;
}

@media (max-width: 569px) {
    .block.order .order_info {
        width: 280px;
    }
}

@media (max-width: 363px) {
    .block.order .order_info {
        width: 250px;
    }
}

.block.order .order_info .pickers {
    display: inline-block;
}

.block.order .order_info .pickers .picker {
    margin-top: 10px;
    display: flex;
}

.block.order .order_info .pickers .picker.closets {
    margin-bottom: 10px;
}

.block.order .order_info .pickers .picker .minus,
.block.order .order_info .pickers .picker .plus {
    border: 1px solid #d9d9d9;
    position: relative;
    background: #fff;
    min-width: 50px;
    cursor: pointer;
    height: 40px;
}

.block.order .order_info .pickers .picker .minus:after,
.block.order .order_info .pickers .picker .plus:after {
    content: "";
    margin: -1px 0 0 -7px;
    position: absolute;
    background: #000;
    width: 14px;
    height: 2px;
    left: 50%;
    top: 50%;
}

.block.order .order_info .pickers .picker .minus.disabled:after,
.block.order .order_info .pickers .picker .plus.disabled:after {
    background: #a6a6a6;
}

.block.order .order_info .pickers .picker .minus.disabled,
.block.order .order_info .pickers .picker .plus.disabled {
    cursor: default;
}

.block.order .order_info .pickers .picker .minus {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.block.order .order_info .pickers .picker .value {
    line-height: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    text-align: center;
    background: #fff;
    width: 150px;
    font-size: 15px;
}

@media (max-width: 569px) {
    .block.order .order_info .pickers .picker .value {
        width: 178px;
    }
}

@media (max-width: 363px) {
    .block.order .order_info .pickers .picker .value {
        width: 146px;
    }
}

.block.order .order_info .pickers .picker .plus {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.block.order .order_info .pickers .picker .plus:before {
    content: "";
    margin: -1px 0 0 -7px;
    position: absolute;
    background: #000;
    width: 14px;
    height: 2px;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.block.order .order_info .pickers .picker .plus.disabled:before {
    background: #a6a6a6;
}

.block.order .order_info .extra_services {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.63);
}

.block.order .order_info .extra_services .left {
    width: 209px;
    float: left;
    margin-right: 20px;
}

@media (max-width: 569px) {
    .block.order .order_info .extra_services .left {
        float: none;
    }
}

.block.order .order_info .extra_services .left > div, .block.order .order_info .extra_services .right > div {
    height: 20px;
}

.block.order .order_info .extra_services .left > div > label, .block.order .order_info .extra_services .right > div > label {
    vertical-align: middle;
}

.block.order .order_info .extra_services .dropdown {
    display: none;
}

.block.order .order_info .total {
    margin-top: 10px;
}

.block.order .order_info .total * {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
}

.block.order .order_info .total .currency.hidden,
.block.order .order_info .total .variable.hidden {
    display: none;
}

.block.grey {
    background-color: #f8f8f8;
}

.block .wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 65px;
}

@media (max-width: 750px) {
    .block .wrapper {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

.block .wrapper > .header, .block .wrapper > .sub_wrapper > .header {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    font-size: 40px;
    margin: 0;
    padding: 0 20px;
}

@media (max-width: 750px) {
    .block .wrapper > .header, .block .wrapper > .sub_wrapper > .header {
        font-size: 25px;
        line-height: 25px;
    }
}

.block .wrapper > .sub_header, .block .wrapper > .sub_wrapper > .sub_header {
    margin-top: 22px;
    padding: 0 80px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
}

@media (max-width: 933px) {
    .block .wrapper > .sub_header, .block .wrapper > .sub_wrapper > .sub_header {
        text-align: left;
    }

    .block .wrapper > .sub_header.center, .block .wrapper > .sub_wrapper > .sub_header.center {
        text-align: center;
    }
}

@media (max-width: 750px) {
    .block .wrapper > .sub_header, .block .wrapper > .sub_wrapper > .sub_header {
        font-size: 17px;
        line-height: 24px;
    }
}

@media (max-width: 450px) {
    .block .wrapper > .sub_header, .block .wrapper > .sub_wrapper > .sub_header {
        padding: 0 30px;
    }
}

.block .wrapper > .sub_header.unlimited, .block .wrapper > .sub_wrapper > .sub_header.unlimited {
    padding: 0;
}

@media (max-width: 933px) {
    .block .wrapper > .sub_header.unlimited, .block .wrapper > .sub_wrapper > .sub_header.unlimited {
        padding: 0 80px;
    }
}

@media (max-width: 450px) {
    .block .wrapper > .sub_header.unlimited, .block .wrapper > .sub_wrapper > .sub_header.unlimited {
        padding: 0 30px;
    }
}

body button {
    color: #222;
    background-color: #ffc228;
    vertical-align: baseline;
    border-radius: 4px !important;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    outline: 0 !important;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-appearance: button;
    text-transform: none;
}

body button:hover, body button:focus, body button:active {
    background-color: #f5bc00;
}

body button:hover, body button:focus, body button:active {
    text-decoration: none;
}

body button:focus {
    outline-offset: -2px;
}

body button:active {
    background-image: none;
}

body input {
    padding: 0 15px;
    font-size: 15px;
    height: 40px;
    border: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px !important;
}

body input[type="checkbox"] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #d9d9d9 !important;
    padding: 0;
    -webkit-appearance: none;
    background: #fff;
    border-image: -ms-linear-gradient(top, #fff, #fff);
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 13px;
    left: 1px;
    margin: 2px 8px 0 0;
    outline: 0;
    position: relative;
    top: 2px;
    width: 13px;
    outline: none !important;
    cursor: pointer;
}

body input[type="checkbox"]:checked:after {
    background: url(../img/checkmark.png) no-repeat 0 0/21px;
    content: "";
    display: block;
    height: 21px;
    left: -5px;
    position: relative;
    top: -6px;
    width: 21px;
}

body input:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

body input:focus {
    border-color: #ffc228;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 194, 40, 0.64);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 194, 40, 0.64);
}

body .accordion_header {
    padding: 25px 0 25px 0;
    line-height: 35px;
    font-size: 26px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.3s;
}

@media (max-width: 750px) {
    body .accordion_header {
        line-height: 24px;
        font-size: 21px;
        padding: 15px 0 15px 0;
    }
}

body .accordion_header:after {
    margin-top: 8px;
    content: "";
    background: url(../img/button_arrow_down.svg) 0 0 no-repeat;
    float: right;
    width: 31px;
    height: 18px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

@media (max-width: 750px) {
    body .accordion_header:after {
        width: 19px;
    }
}

body .accordion_header.active:after {
    transform: rotate(180deg);
}

body .accordion_header h2 {
    transition: 0.3s;
    display: inline-block;
    max-width: 85%;
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}

@media (max-width: 750px) {
    body .accordion_header h2 {
        line-height: 24px;
        font-size: 21px;
    }
}

body .accordion_header:hover h2 {
    color: #d29e00;
}

.accordion_content {
    border-bottom: 1px solid #d9d9d9;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion_content div {
    line-height: 25px;
    font-family: "MuseoSansReqular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    max-width: 620px;
}

@media (max-width: 750px) {
    .accordion_content div {
        line-height: 22px;
        max-width: 95%;
    }
}

.accordion_content div:after {
    display: block;
    height: 25px;
    content: "";
}

@media (max-width: 750px) {
    .accordion_content div:after {
        height: 10px;
    }
}

.accordion_content div ul {
    margin: 0;
}

.accordion_content div ul li {
    line-height: 25px;
    font-family: "MuseoSansReqular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    max-width: 620px;
}

@media (max-width: 750px) {
    .accordion_content div ul li {
        line-height: 22px;
        max-width: 95%;
    }
}

@keyframes _1SPxwonwfe0SdBCvZcLsRX {
    0% {
        top: 0;
    }
    50% {
        top: 6px;
    }
    to {
        top: 0;
    }
}

#telegram_link_chat,
#vk_link_chat,
#whatsapp_link_chat,
#viber_link_chat {
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 134px;
    vertical-align: middle;
    transition: background 0.3s ease;
    border-radius: 100px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 640px) {
    #telegram_link_chat,
    #vk_link_chat,
    #whatsapp_link_chat,
    #viber_link_chat {
        margin-bottom: 10px;
    }
}

#telegram_link_chat *,
#vk_link_chat *,
#whatsapp_link_chat *,
#viber_link_chat * {
    vertical-align: middle;
}

#telegram_link_chat img,
#vk_link_chat img,
#whatsapp_link_chat img,
#viber_link_chat img {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

#viber_link_chat {
    text-align: left;
}

#viber_link_chat img {
    margin-left: 25px;
    margin-right: 15px;
}

#whatsapp_link_chat {
    text-align: left;
}

#whatsapp_link_chat img {
    margin-left: 15px;
    margin-right: 2px;
}

@media (max-width: 643px) {
    #telegram_link_chat,
    #vk_link_chat {
        margin-bottom: 10px;
    }
}

#telegram_link_chat {
    background: #2ca5e0;
}

#telegram_link_chat:hover {
    background: #58b8e7;
}

#vk_link_chat {
    background: #5c81b3;
}

#vk_link_chat:hover {
    background: #7f9cc3;
}

#whatsapp_link_chat {
    background: #26b33d;
}

#whatsapp_link_chat:hover {
    background: #2bd045;
}

#viber_link_chat {
    background: #665cac;
}

#viber_link_chat:hover {
    background: #957ede;
}

#vk_link,
#instagram_link,
#fb_link {
    background: rgba(217, 217, 217, 0.2);
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

#vk_link img,
#instagram_link img,
#fb_link img {
    background: 50% 50% no-repeat;
    transition: opacity 0.3s ease;
    background-size: contain;
    position: absolute;
    opacity: 0.8;
}

#vk_link img {
    left: 8px;
    top: 15px;
    height: 13px;
    width: 23px;
}

#vk_link:hover {
    background: #5c81b3;
}

#instagram_link:after {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    transition: all 0.3s ease;
    border-radius: 100%;
    position: absolute;
    content: "";
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#instagram_link img {
    z-index: 1;
    left: 8px;
    top: 8px;
    height: 24px;
    width: 24px;
}

#instagram_link:hover:after {
    opacity: 1;
}

#fb_link img {
    height: 23px;
    width: 12px;
    left: 14.5px;
    top: 9px;
}

#fb_link:hover {
    background: #485eac;
}

.bottom_form_wrapper {
    margin-left: auto;
    width: 560px;
    margin-top: 20px;
    margin-right: auto;
}

@media (max-width: 569px) {
    .bottom_form_wrapper {
        text-align: center;
        width: unset;
    }
}

.bottom_form_wrapper .bottom_form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 569px) {
    .bottom_form_wrapper .bottom_form {
        display: block;
    }
}

@media (max-width: 569px) {
    .bottom_form_wrapper .bottom_form input {
        display: block;
        width: 250px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 363px) {
    .bottom_form_wrapper .bottom_form input {
        width: 220px;
    }
}

.bottom_form_wrapper .bottom_form button {
    height: 42px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 569px) {
    .bottom_form_wrapper .bottom_form button {
        display: block;
        width: 280px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 363px) {
    .bottom_form_wrapper .bottom_form button {
        width: 250px;
    }
}

.block.footer {
    background-color: #383838;
}

.block.footer .wrapper {
    padding-top: 35px;
    padding-bottom: 20px;
    max-width: 590px;
}

@media (max-width: 640px) {
    .block.footer .wrapper {
        max-width: 80%;
    }
}

.block.footer .wrapper .sub_header {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.4);
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.block.footer .wrapper .messengers {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;
}

@media (max-width: 643px) {
    .block.footer .wrapper .messengers {
        width: 280px;
        padding-bottom: 20px;
    }
}

@media (max-width: 640px) {
    .block.footer .wrapper .messengers {
        padding-bottom: 10px;
    }
}

.block.footer .wrapper .info {
    margin-top: 10px;
}

.block.footer .wrapper .info .left {
    margin-right: 10px;
    display: inline-block;
    float: left;
    line-height: 42px;
}

@media (max-width: 505px) {
    .block.footer .wrapper .info .left {
        line-height: 20px;
    }
}

@media (max-width: 340px) {
    .block.footer .wrapper .info .left {
        font-size: 12px;
        margin-right: 0;
    }
}

.block.footer .wrapper .info .left * {
    color: rgba(255, 255, 255, 0.3) !important;
    line-height: 30px;
    font-size: 13px;
    text-decoration: none;
}

.block.footer .wrapper .info .left .phone_wrapper {
    display: inline-block;
}

.block.footer .wrapper .info .right {
    display: inline-block;
}

.block.footer .wrapper .legal_info {
    margin-top: 10px;
}

.block.footer .wrapper .legal_info .item {
    color: rgba(255, 255, 255, 0.3) !important;
    font-size: 13px;
}

.side-nav {
    opacity: 0.95;
    padding: 0;
    position: fixed;
    width: 270px;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    backface-visibility: hidden;
    overflow-y: auto;
    will-change: transform;
    transform: translateX(-105%);
}

.side-nav .logo_wrapper .logo {
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo_black.png);
}

.side-nav .options {
    padding-left: 20px;
    padding-right: 20px;
}

.side-nav .options .option {
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0.8px;
    position: relative;
    line-height: 18px;
    font-size: 14px;
    border-bottom: 1px solid #efefef;
}

.side-nav .options .option:first-of-type {
    border-top: 1px solid #efefef;
}

.side-nav .options .option a {
    color: #000;
    line-height: 50px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.side-nav .options button {
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 1px;
    border-radius: 6px !important;
    padding: 10px 15px;
}

.side-nav .options .phone {
    margin-top: 10px;
    border: 1px solid #a6a6a6;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-decoration: none;
    padding: 13px 0 12px;
    text-align: center;
    border-radius: 6px;
    line-height: 17px;
    font-size: 14px;
}

.side-nav .options .phone * {
    color: #222;
}

.side-nav .options .phone a {
    text-decoration: none;
}

.side-nav .options .phone a img {
    vertical-align: middle;
}

.side-nav .options .phone img {
    height: 20px;
    width: 20px;
}

.drag-target {
    height: 100vh;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998;
}

#block_order {
    position: relative;
}

#block_order .wrapper {
    position: relative;
}

#block_order .wrapper .sub_wrapper {
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    width: 87%;
    margin-left: auto;
    padding: 25px 0px;
    margin-right: auto;
    opacity: 0.94;
    background-color: white;
}

@media (max-width: 899px) {
    #block_order .wrapper .sub_wrapper {
        width: 100%;
        opacity: 1;
        background-color: #f8f8f8;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }
}

#block_order .wrapper .sub_wrapper .sub_header {
    padding: 0;
}

@media (max-width: 899px) {
    #block_order .wrapper .sub_wrapper .sub_header {
        padding: 0 80px;
    }
}

@media (max-width: 450px) {
    #block_order .wrapper .sub_wrapper .sub_header {
        padding: 0 30px;
    }
}

#block_order .back_image {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#block_order .back_image video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 899px) {
    #block_order .back_image video {
        display: none;
    }
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity;
}

#faq {
    border-top: 1px solid #d9d9d9;
    margin-top: 40px;
}

@media (max-width: 969px) {
    #faq {
        margin-top: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

#benefits .top,
#benefits .bottom {
    text-align: center;
}

#benefits .top .item:first-of-type,
#benefits .bottom .item:first-of-type {
    margin-right: 25px;
}

@media (max-width: 828px) {
    #benefits .top .item:first-of-type,
    #benefits .bottom .item:first-of-type {
        margin-right: 10px;
    }
}

#benefits .top .item:last-of-type,
#benefits .bottom .item:last-of-type {
    margin-left: 25px;
}

@media (max-width: 828px) {
    #benefits .top .item:last-of-type,
    #benefits .bottom .item:last-of-type {
        margin-left: 10px;
    }
}

#benefits .bottom {
    margin-top: 50px;
}

@media (max-width: 828px) {
    #benefits .bottom {
        margin-top: 20px;
    }
}

@media (max-width: 735px) {
    #benefits .bottom {
        margin-top: 0;
    }
}

#benefits .item {
    height: 290px;
    width: 320px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all 0.3s ease;
    background: #fff;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

@media (max-width: 735px) {
    #benefits .item {
        line-height: 190px;
        height: 190px;
        width: 500px;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 530px) {
    #benefits .item {
        width: 90%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 500px) {
    #benefits .item {
        text-align: center;
    }
}

@media (max-width: 450px) {
    #benefits .item {
        line-height: 165px;
        height: 165px;
    }
}

#benefits .item .image_wrapper {
    margin-top: 20px;
    text-align: center;
}

#benefits .item .image_wrapper img {
    height: 72px;
    width: 72px;
}

@media (max-width: 735px) {
    #benefits .item .image_wrapper {
        margin-left: 30px;
        margin-top: 0;
        display: inline-block;
        float: left;
        line-height: 190px;
    }

    #benefits .item .image_wrapper img {
        vertical-align: middle;
    }
}

@media (max-width: 500px) {
    #benefits .item .image_wrapper {
        display: none;
    }
}

@media (max-width: 735px) {
    #benefits .item .content {
        vertical-align: middle;
        display: inline-block;
    }
}

#benefits .item .content .header {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 12px;
    margin-top: 12px;
}

@media (max-width: 735px) {
    #benefits .item .content .header {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    #benefits .item .content .header {
        font-size: 21px;
        line-height: 20px;
    }
}

@media (max-width: 450px) {
    #benefits .item .content .header {
        margin-bottom: 5px;
    }
}

#benefits .item .content .descr {
    padding: 0 25px;
    font-size: 17px;
    line-height: 26px;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 735px) {
    #benefits .item .content .descr {
        padding: 0 5px;
    }
}

#slider_buttons {
    margin-top: 30px;
    margin-bottom: 25px;
    display: none;
}

@media (max-width: 920px) {
    #slider_buttons {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    #slider_buttons br {
        display: none;
    }
}

@media (max-width: 600px) {
    #slider_buttons {
        width: 90%;
    }
}

#slider_buttons .first,
#slider_buttons .second {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media (max-width: 969px) {
    #slider_buttons .first,
    #slider_buttons .second {
        width: 100%;
    }
}

@media (max-width: 969px) {
    #slider_buttons .first {
        margin-bottom: 10px;
    }
}

#slider_buttons .first .item:first-of-type {
    border-radius: 8px 0 0 8px;
}

@media (max-width: 969px) {
    #slider_buttons .first .item:first-of-type {
        margin-right: 4.5px;
    }
}

@media (max-width: 969px) {
    #slider_buttons .first .item:last-of-type {
        margin-left: 4.5px;
    }
}

#slider_buttons .second .item:last-of-type {
    border-radius: 0 8px 8px 0;
}

@media (max-width: 969px) {
    #slider_buttons .second .item:last-of-type {
        margin-left: 4.5px;
    }
}

@media (max-width: 969px) {
    #slider_buttons .second .item:first-of-type {
        margin-right: 4.5px;
    }
}

#slider_buttons .item {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid #d9d9d9;
    padding: 12px 0 11px;
    background: #fff;
    margin: 0 0 0 -1px;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: #222;
    width: 50%;
}

#slider_buttons .item:hover {
    background: #f8f8f8;
}

#slider_buttons .item.active {
    border-color: #222 !important;
    color: #ffffff;
    background-color: #222222;
}

@media (max-width: 969px) {
    #slider_buttons .item {
        border-radius: 8px !important;
    }
}

@media (max-width: 660px) {
    #slider_buttons .item {
        font-size: 16px;
    }
}

@media (max-width: 530px) {
    #slider_buttons .item {
        font-size: 15px;
    }
}

@media (max-width: 484px) {
    #slider_buttons .item br {
        display: block;
    }
}

@media (max-width: 349px) {
    #slider_buttons .item {
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    #slider_buttons .item {
        font-size: 13px;
    }
}

#examples {
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    position: relative;
    height: 500px;
    background-color: #1e1e1e;
    margin-top: 25px;
}

@media (max-width: 1000px) {
    #examples {
        border-radius: 0;
        width: calc(100vw);
        height: calc(50vw);
        margin-left: auto;
        margin-right: auto;
    }
}

#examples img {
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
}

@media (max-width: 1000px) {
    #examples img {
        border-radius: 0;
    }
}

#examples .left, #examples .right {
    background: rgba(255, 255, 255, 0.8);
    transition: border-color 0.2s ease;
    border: 1px solid #d9d9d9;
    position: absolute;
    border-radius: 4px;
    margin-top: -40px;
    cursor: pointer;
    height: 80px;
    width: 40px;
    z-index: 20;
    top: 50%;
}

@media (max-width: 1000px) {
    #examples .left, #examples .right {
        margin-top: -20px;
        height: 40px;
        width: 20px;
    }
}

#examples .left:before, #examples .right:before {
    border: 2px solid #000;
    margin: -8px 0 0 -12px;
    border-bottom: none;
    position: absolute;
    border-left: none;
    height: 16px;
    width: 16px;
    content: "";
    left: 50%;
    top: 50%;
}

@media (max-width: 1000px) {
    #examples .left:before, #examples .right:before {
        margin: -5px 0 0 -9px;
        height: 10px;
        width: 10px;
    }
}

#examples .left:hover, #examples .right:hover {
    border-color: #222;
}

#examples .left {
    left: 10px;
}

#examples .left:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-left: -4px;
}

#examples .right {
    right: 10px;
}

#examples .right:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#slider {
    position: relative;
    height: 625px;
    margin-top: 22px;
    border-radius: 8px;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.32);
}

@media (max-width: 969px) {
    #slider {
        width: calc(100% - 10px);
        height: 63.75vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 920px) {
    #slider {
        display: none;
    }
}

#slider img {
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 8px;
    width: 100%;
}

#slider img.active {
    opacity: 1;
}

#slider .left, #slider .right {
    background: rgba(255, 255, 255, 0.8);
    transition: border-color 0.2s ease;
    border: 1px solid #d9d9d9;
    position: absolute;
    border-radius: 4px;
    margin-top: -40px;
    cursor: pointer;
    height: 80px;
    width: 40px;
    z-index: 20;
    top: 91.9%;
}

#slider .left:before, #slider .right:before {
    border: 2px solid #000;
    margin: -8px 0 0 -12px;
    border-bottom: none;
    position: absolute;
    border-left: none;
    height: 16px;
    width: 16px;
    content: "";
    left: 50%;
    top: 50%;
}

#slider .left:hover, #slider .right:hover {
    border-color: #222;
}

#slider .left {
    left: 10px;
}

#slider .left:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-left: -4px;
}

#slider .right {
    right: 10px;
}

#slider .right:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#slider_text {
    height: 220px;
    display: none;
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 920px) {
    #slider_text {
        display: block;
    }
}

@media (max-width: 800px) {
    #slider_text {
        width: 80%;
    }
}

@media (max-width: 550px) {
    #slider_text {
        width: 90%;
    }
}

@media (max-width: 497px) {
    #slider_text {
        height: 230px;
    }
}

@media (max-width: 440px) {
    #slider_text {
        width: 97%;
    }
}

@media (max-width: 388px) {
    #slider_text {
        height: 258px;
    }
}

@media (max-width: 329px) {
    #slider_text {
        height: 267px;
    }
}

#slider_text > .item {
    margin: 0;
    list-style-type: none;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease;
}

#slider_text > .item.active {
    opacity: 1;
}

#slider_text > .item li {
    position: relative;
    font-size: 19px;
    padding: 0 0 5px 24px;
}

@media (max-width: 750px) {
    #slider_text > .item li {
        font-size: 16px;
    }
}

#slider_text > .item li:before {
    position: absolute;
    content: "—";
    width: 24px;
    left: 0;
    top: 0;
}

#price_descr {
    margin-top: 8px;
    color: #a9a9a9;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
    width: 80%;
}

#prices {
    margin-top: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 953px) {
    #prices {
        text-align: center;
        display: block;
    }
}

@media (max-width: 750px) {
    #prices {
        margin-top: 30px;
    }
}

#prices .item {
    width: 300px;
    padding: 30px 0;
    background: #fff;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    transition: 0.6s;
}

#prices .item:hover {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.36);
}

@media (max-width: 953px) {
    #prices .item:last-of-type {
        margin-top: 13px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #prices .item:first-of-type {
        margin-right: 5px;
        display: inline-block;
    }

    #prices .item:nth-of-type(2) {
        margin-left: 5px;
        display: inline-block;
    }
}

@media (max-width: 710px) {
    #prices .item {
        display: block !important;
        width: 55%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #prices .item:nth-of-type(2) {
        margin-top: 13px;
    }
}

@media (max-width: 570px) {
    #prices .item {
        width: 300px;
    }
}

#prices .item .content {
    text-align: left;
    width: 100%;
}

#prices .item .content .price {
    padding: 0 30px;
}

#prices .item .content .price .value {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 40px;
    line-height: 1em;
    font-weight: 900;
}

#prices .item .content .descr {
    font-size: 26px;
    line-height: 1.538em;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#prices .item .content .details {
    height: 99px;
    padding: 0 30px;
    margin: 15px 0;
}

#prices .item .content button {
    width: calc(100% - 60px);
    font-size: 16px;
    height: 40px;
    margin: 0 30px;
}

#personnel {
    margin-top: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 953px) {
    #personnel {
        margin-top: 35px;
        text-align: center;
        display: block;
    }
}

#personnel .item {
    width: 300px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.8s ease;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    background: #f6f6f6;
}

@media (max-width: 710px) {
    #personnel .item {
        display: block !important;
        width: 55%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #personnel .item:nth-of-type(2) {
        margin-top: 13px;
    }
}

@media (max-width: 570px) {
    #personnel .item {
        width: 300px;
    }
}

#personnel .item .img_wrapper {
    position: relative;
}

#personnel .item .img_wrapper img {
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
}

#personnel .item .img_wrapper .header {
    width: 100%;
    position: absolute;
    bottom: 15px;
    color: #ffffff;
}

#personnel .item .img_wrapper .header .top {
    font-size: 22px;
    margin-bottom: 8px;
}

#personnel .item.active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 953px) {
    #personnel .item:last-of-type {
        margin-top: 13px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #personnel .item:first-of-type {
        margin-right: 5px;
        display: inline-block;
    }

    #personnel .item:nth-of-type(2) {
        margin-left: 5px;
        display: inline-block;
    }
}

#personnel .item .descr {
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
}

#block_examples > .wrapper {
    max-width: 1000px;
}

.block.faq > .wrapper {
    padding-top: 30px;
}

.block.personnel > .wrapper {
    padding-bottom: 30px;
}

@media (max-width: 933px) {
    .block.personnel .sub_header {
        text-align: center;
    }
}

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #FFFFFF;
}

.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    line-height: 1;
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

.rtl .toast-close-button {
    left: -0.3em;
    float: left;
    right: 0.3em;
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
}

#toast-container > div:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}

.toast-info {
    background-color: #2F96B4;
}

.toast-warning {
    background-color: #F89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }

    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }

    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }

    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }

    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }

    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px;
    }
}

label {
    cursor: pointer;
}

/* --- EASYDROPDOWN DEFAULT THEME --- */
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

/* WRAPPER */
.dropdown {
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 37px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown.open {
    z-index: 2;
}

/* CARAT */
.dropdown .carat {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -4px;
    border: 6px solid transparent;
    border-top: 8px solid #000;
}

.dropdown.open .carat {
    margin-top: -10px;
    border-top: 6px solid transparent;
    border-bottom: 8px solid #000;
}

/* OLD SELECT (HIDDEN) */
.dropdown .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.dropdown select {
    position: absolute;
    left: 0px;
    top: 0px;
}

.dropdown.touch .old {
    width: 100%;
    height: 100%;
}

.dropdown.touch select {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* SELECTED FEEDBACK ITEM */
.dropdown .selected,
.dropdown li {
    display: block;
    font-size: 16px;
    line-height: 1;
    color: #000;
    padding: 3px 4px;
    overflow: hidden;
    white-space: nowrap;
}

/* DROP DOWN WRAPPER */
.dropdown div {
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    opacity: 0;
}

/* Height is adjusted by JS on open */
.dropdown.open div {
    opacity: 1;
    z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after {
    opacity: 0;
}

/* DROP DOWN LIST */
.dropdown ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.dropdown.scrollable.open ul {
    overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */
.dropdown li {
    list-style: none;
    padding: 5px 12px;
}

/* .focus class is also added on hover */
.dropdown li.focus {
    background: #ffc228;
    position: relative;
    z-index: 3;
}

.dropdown li.active {
    font-weight: 700;
}

.floating-contacts-wrapper {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 40px;
    padding: 10px;
}

@media (max-width: 996px) {
    .floating-contacts-wrapper {
        display: none;
    }
}

.floating-contacts-wrapper .top {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #f5bc00;
    transition: all 0.3s ease;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.18);
}

.floating-contacts-wrapper .top:before {
    content: "";
    width: 0;
    height: 0;
    left: -10px;
    top: 18px;
    position: absolute;
    border-top: 7px solid transparent;
    border-right: 12px solid #f5bc00;
    border-bottom: 7px solid transparent;
}

.floating-contacts-wrapper .top:after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: url(../img/question_mark.svg) no-repeat 50%;
}

.floating-contacts-wrapper ul {
    height: 250px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    width: 70px;
    transition: all 0.3s ease;
    z-index: 10;
    color: #000;
    overflow: hidden;
    bottom: 10px;
}

.floating-contacts-wrapper ul li {
    list-style: none;
    transition: all 0.3s ease;
    margin-top: -25px;
    height: 50px;
    cursor: pointer;
}

.floating-contacts-wrapper ul li.telegram a {
    background-color: #2ca5e0;
}

.floating-contacts-wrapper ul li.telegram a:hover {
    background: #58b8e7;
}

.floating-contacts-wrapper ul li.vkontakte a {
    background-color: #5c81b3;
}

.floating-contacts-wrapper ul li.vkontakte a:hover {
    background: #7f9cc3;
}

.floating-contacts-wrapper ul li.whatsapp a {
    background-color: #26b33d;
}

.floating-contacts-wrapper ul li.whatsapp a:hover {
    background: #2bd045;
}

.floating-contacts-wrapper ul li.viber a {
    background-color: #665cac;
}

.floating-contacts-wrapper ul li.viber a:hover {
    background: #957ede;
}

.floating-contacts-wrapper ul li a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    transition: background-color 0.3s;
}

.floating-contacts-wrapper ul li a div {
    width: 24px;
    height: 20px;
    display: inline-block;
}

.floating-contacts-wrapper ul li a div img {
    width: 100%;
    height: 100%;
}

.floating-contacts-wrapper:hover .top {
    visibility: hidden;
    opacity: 0;
}

.floating-contacts-wrapper:hover ul {
    visibility: visible;
    opacity: 1;
}

.floating-contacts-wrapper:hover ul li {
    margin-top: 10px;
}

.ui-dialog {
    width: 400px !important;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.18);
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.ui-dialog .ui-dialog-content img {
    width: 100%;
}

.ui-dialog .ui-dialog-buttonpane {
    border: none;
    text-align: center !important;
    padding: 5px !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    color: #222;
    background-color: #ffc228;
    vertical-align: baseline;
    border-radius: 4px !important;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    outline: 0 !important;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-appearance: button;
    text-transform: none;
    margin: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
    background-color: #f5bc00;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
    text-decoration: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:focus {
    outline-offset: -2px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
    background-image: none;
}

/*# sourceMappingURL=styles.css.map */
.link_footer {
    color: #222;
    background-color: #ffc228;
    vertical-align: baseline;
    border-radius: 4px !important;
    text-decoration: none;
}

